.input {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .5rem;

        &--left {
            justify-content: flex-start;
            
        }
    }
    &__select {
        margin: 0;
    }
    &__textarea {
        flex-grow: 2;
    }
    &__label {
        color: var(--primary-color);
        font-weight: 700;
        margin-right: .25rem;
        width: 6rem;
    }
    &__radio-label {

        &--left {
            margin: 0 .5rem 0 .25rem;
        }
        &--right {
            margin-left: .25rem;
        }
    }
}