.showSelections {
    width: 100vw;
    height: var(--topSectionHeight);
    display: flex;
    justify-content: space-between;
    padding: 1rem;

  
    &__selection {
        padding: .25rem .5rem;
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: fit-content;
        height: fit-content;
        cursor: pointer;

        &:hover {
            background-color: var(--secondary-color);
        }
    }
}